{% load static %}
<link rel="stylesheet" href="{% static 'stylessocial.css' %}">
{% if user.is_authenticated %}
<span class="username-login">
    <h3 class="nameuser" >{{ user.username }}</h3>
    <form action="{% url 'logoutuser' %}" method="POST">
        {% csrf_token %}
    <button class="exit-btn" type="submit">Выйти</button>
    </form>
</span>
{% else %}
<br>

<a href="{% url 'signupuser' %}">Зарегистрироваться</a>
<a href="{% url 'loginuser' %}">Войти</a>


{% endif %}

{% block content %} {% endblock %}