{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Лучший сайт всех времен и народов</title>

	<!-- Bootstrap reboot (для сброса стилей) -->
	
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-reboot.min.css' %}">

	<!-- Bootstrap сетка -->
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-grid.min.css' %}">

	<!-- Шрифты с Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

	<!-- Стили сайта -->
	<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
	<script src="jquery-3.7.0.min.js"></script>
</head>
<script src="script.js"></script>
<nav class="navbar">
	 	<div class="container">
	 		<a href="#" class="navbar-brand">GEOGAMING</a>
	 		<div class="navbar-wrap">
	 			<ul class="navbar-menu">
	 			<li><a href="#">О нас</a></li>
	 			<li><a href="#">Портфолио и фото</a></li>
	 			<li><a href="#">Цены</a></li>
	 			<li><a href="#">Контакты</a></li>
	 		</ul>
	 		<a href="#" class="callback">Обратный звонок</a>
	 		</div>
	 	</div>
	 </nav>
<body>


	
	
	
	 
</body>
</html>