{% load static %}
<<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SocialWeb</title>

	<!-- Bootstrap reboot (для сброса стилей) -->
	<link rel="stylesheet" href="{% static 'bootstrap-reboot.min.css' %}">

	<!-- Bootstrap сетка -->
	<link rel="stylesheet" href="{% static 'bootstrap-grid.min.css' %}">

	<!-- Шрифты с Google Fonts -->
	<link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

	<!-- Стили сайта -->
	<link rel="stylesheet" href="{% static 'stylessocial.css' %}">
	<!-- Скрипты сайта -->
	<script src="{% static 'jquery-3.7.0.min.js' %}"></script>
	<script src="{% static 'scriptsocial.js' %}"></script>

	
	
</head>
<body>
	<div class="menu">
		<a href="#" class="menu-btn"></a>
		<nav class="menu-list">
			<a href="#main">Главная</a>
			<a href="#news">Новости</a>
			<a href="#friends">Друзья</a>
			<a href="#photo">Фото</a>
		</nav>
		<div class="profile-login">
				<button class="sign-in">Войти</button>
				<button class="sign-up" id="open-modal-btn">Зарегистрироваться</button>
				
	</div>
		</div>


	</div>
	<div class="content">
		<section class="main">
			<a id="main">Главная</a>
		</section>
		<section class="news">
			<a id="news">Новости</a>
		</section>
		<section class="friends">
			<a id="friends">Друзья</a>
		</section>
		<section class="photo">
			<a id="photo">Фото</a>
		</section>

	</div>
	<div class="modal" id="my-modal">
			<div class="modal-window">
				<h1>Регистрация</h1>
				<button class="close-modal-btn">X</button>
				
			</div>
			<div class="overlay"></div>
	
	
</body>
</html>